* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  width: 100%;
  margin: auto;
  background: rgba(212, 212, 199, 0.5);
  font-family: 'Montserrat', sans-serif;
  background: 
  linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)); 
}

.hidden {
  display: none;
}

.login-image, .signup-image {
  border: solid 5px;
}

.login-h3 {
  font-family: 'Cinzel', serif;
  padding: .5em 3.5em .5em 3.5em;
}

.css-header {
  width:100%;
  margin: auto;
  background-color: rgb(90, 23, 198);
  border-top: solid green 3px;
}

.navbar {
  background: rgb(196, 196, 211);
  text-align: center;
  overflow: visible;
  position: relative;
  width: 100%;
  padding: 1em 0 1em 0;

}

.css-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 800px;
  background-color: rgb(235, 235, 235);
  padding-bottom: 1em;
  border: solid green 5px;
}

.css-login-input, .css-pw-input, 
.css-signup-input, .css-pw-signup-input {
  height: 40px;
  font-size: medium;
  border: solid rgb(100, 104, 100) 3px;
  font-family: 'Montserrat', sans-serif; 
  border-radius: 4px;
  padding: 0 1em 0 1em;
}

.entry-field {
  padding: 1em;
}

h2 {
  text-align: center;
  padding-top: 1.5em;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

h1 {
  text-align: center;
  padding-bottom: 0;
  padding: .5em;
  font-size: 32pt;
  font-family: 'Cinzel', serif;
  color: rgb(235, 235, 235);
  font-weight: normal;
}

h3 {
  font-family: 'Cinzel', serif;
}

/* This changes text style for headline/message */
.css-headline-field, .css-message-field {
  width: 100%;
  padding: 1em;
  font-family: cinzel;
  font-size: x-large;
  text-align: center;
  margin-top: .5em;
  border: solid rgb(88, 42, 186) 3px;
}

.css-headline-field {
  margin-bottom: .5em; 
}

.css-message-field {
  font-size: large;
  margin-bottom: 1em;
}


.css-login-form, .css-signup-form {
  border: solid green 10px;
  padding-top: 1.5em;
}

.css-form, .css-login-form, .css-signup-form {
  width: 80%;
  margin: auto;
  font-size: x-large;
}

.css-form {
  padding-top: 2em;
}
 
/* Call to Action Button Styles */
.css-create-card-cta, .css-cta {
  margin: auto;
  font-size: xx-large;
  background: rgb(236, 238, 93);
  border: solid rgb(32, 44, 32) 3px; 
  font-family: 'Montserrat', sans-serif;
  padding: .5em 2em .5em 2em;
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  color: rgba(8, 3, 24, 0.6);
  box-shadow: rgba(72, 62, 100, 0.4) 0 0px 0px 2px inset;
  border-radius: 4px;
}

.css-create-card-button, .css-saved-card-button, 
.css-delete-card-button, .css-all-saved-cards-button, 
.css-edit-card-button, .css-view-card-button, .css-go-to-signup-form,
.css-submit {
  margin: auto;
  font-size: x-large;
  border: solid rgb(32, 44, 32) 3px; 
  font-family: 'Montserrat', sans-serif;
  display: inline;
  padding: .5em 1em .5em 1em;
}

fieldset {
  border:  rgb(88, 42, 186) 3px solid;
}

.css-radio {
   padding-top: .5em;
   padding-bottom: .5em;

}

.radio-text {
  font-size: x-large;
}

/* Style of downloaded card */
.css-preview-content-container {
  border: solid rgb(37, 36, 37) 10px;
  margin: auto;
  width: 100%;
  background-color: #ebebeb; 
  margin-top: 2em;
}

.css-saved-card-container {
  border: solid green 10px;
  margin: auto;
  width:100%;
}

.css-submit, .css-go-to-signup-form {
  margin: auto;
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

.css-all-saved-cards-button {
  margin: auto;
  display: inline;
}

.css-previous-saved-card-container {
  border: solid rgb(37, 36, 37) 5px;
  max-width: 100%;
  margin: auto;
  padding-top:2em;
  padding-bottom:2em;
  margin-top:2em;
}

p {
  font-size: x-large;
}

canvas {
  border: solid green 20px;
  margin: auto;
  width:100%;
  background-color: (82, 110, 36);
}

.css-footer {
  text-align: center;
  background: beige;
}

.footer-text {
  font-size: medium;
}

/* Button color, box shadow, hover actions */
button, .css-submit {
  color: rgb(88, 42, 186);
  box-shadow: rgba(98, 88, 126, 0.4) 0 0px 0px 2px inset;
  border-radius: 4px;
}

button:hover {
  color: rgba(0, 5, 5, 0.85);
  box-shadow: rgb(90, 23, 198) 0 0px 0px 4px inset;
  border-radius: 4px;
}

/* Marvel Link style */
a {
  color:  rgb(88, 42, 186);
  display: block
}
